extends layout

block content
  script(type="text/javascript", src="/javascripts/startPage.js")
  #container
    link(rel='stylesheet', href='/stylesheets/startStyle.css')
    #banner
      img#bannerImg(src="/images/road_banner_sm.jpg")
    #titleTextContainer
      h1 De Duurzame Energie Test (DET)
      p Vanaf heden maken alle Nederlanders een keuze over hun bijdrage aan duurzame, hernieuwbare energie. 
      p De optie om niets bij te dragen, bestaat niet meer. 
      p In deze test kunt u aangeven of u actief wilt bijdragen of dat u activiteiten liever aan anderen overlaat. Sommigen zullen uit idealisme graag bijdragen, anderen zien misschien niets in duurzame energie, sommigen worden misschien geïnspireerd door de mogelijkheden om gezamenlijk met de buurt/wijk iets te doen of door goedkoper uit te zijn. 
      p U kunt aangeven hoe u wilt bijdragen: door uw leefwijze, door een financiële bijdrage via het belastingsysteem, door u actief in te zetten voor projecten etc. Als u in de toekomst verandert van mening of leefwijze, kunt u de test opnieuw doen!
      p De test eindigt met een uitslag naar aanleiding van uw antwoorden.

      p NB: 
      p -	Deze test is voor individuen. Er is getracht rekening te houden met haalbaarheid en uitvoerbaarheid. Tests voor bedrijven zijn apart.
      p -	De vragen zijn een eerste concept (nog niet gecorrigeerd door psychologen en statistici). 
      p -	Zie andere building blox om een beeld te krijgen hoe een project voor duurzame energie eruit kan zien. 
      a(href="/quiz#id=1") Start
