extends layout

block content
  link(rel='stylesheet', href='/stylesheets/quizStyle.css')
  script(type="text/javascript", src="/javascripts/questions.js")
  #container
    #question
    #answers
    

