extends layout

block content
  script(type="text/javascript", src="/javascripts/resultPage.js")
  link(rel='stylesheet', href='/stylesheets/resultStyle.css')
  #container
    h1 Uitslag
    p U betaald extra belasting van: 
    if score <= 15
      p 30%
    if score > 15 && score <= 31
      p 25%
    if score > 31 && score <= 46
      p 20%
    if score > 46 && score <= 62
      p 15%
    if score > 62 && score <= 77
      p 10%
    if score > 77 && score <= 93
      p 5%
    if score > 93 && score <= 108
      p 0%

    p  
    p Toelichting: 
    p Uitkomsten zijn voor alle individuen gelijkwaardig, deze vertalen zich in
    p -	Bij 100% duurzaam en/of actief betrokken komt u in de meest voordelige belastingschaal (0%)
    p -	Bij geen affiniteit met duurzaam en/of niet actief draagt u financieel bij doordat u in de minst voordelige belastingschaal komt (30%)
    p -	De inschaling is jaarlijks aan te passen


    a(href="/") Druk op een knop om opnieuw te beginnen