body {
	background-image: url('/images/background.png');
}

#questionText {
	margin: 10px;
	font-size: 30px;
	position: absolute;
	top: 350px;
	left: 50px;
}

.answerText {
	cursor: pointer;
	margin: 20px;
}